services:
  - type: static_site
    name: union-registry-static
    env: node
    buildCommand: npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html